<header class="header">
    <div class="menu">
        <div class="menu-item">
            <div class="logo"><i class="fas fa-lemon"></i>&nbsp;finaple</div>
        </div>
        <div class="menu-item text-right">
            <a href="/">
                <i class="far fa-bell"></i>
            </a>
            <a href="/">
                <i class="fas fa-tv"></i>
            </a>
            <% if(isLoggedin) { %>
                <a href="/logout">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            <% } else { %>
                <a href="/login">
                    <i class="fas fa-sign-in-alt"></i>
                </a>
            <% } %>
             
        </div>
    </div>
</header>
